@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl:wght@400;700&display=swap');
.body{
font-family: sans-serif;
}
.home {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.navbar {
  position: absolute;
  top: 5%;
  left: 45%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1;

}
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.nav-links li {
  margin:20px 15px ;
  background-color: #603F83FF;
  border-radius: 10px;
  padding:0px 10px 0px 10px;
  border: 1px solid rgb(122, 122, 122);
  
 
}
.link1{
  background-color: rgba(96, 63, 131, 0.671) !important;
  transition:  background-color .8s;
}
.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.801);
  font-size: 28px;
  
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .5px;
  border-radius: 10px;

}

.link1:hover{ 
  background-color: #603F83FF !important;
}

.book-now-container {
 
  background-color: #603F83FF;
  color: #fefaef;
  border: none;
  border-radius: 0 0 150px 500px;
  width: 200px;
  height: 140px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease; 
  position: relative;
  cursor: pointer;
  left: 90%;
  overflow: hidden;
}

.book-now-container.expanded {
  width: 80%; 
  height: 100vh; 
  border-radius: 170px 0 0px 170px;
  left: 75%;
  cursor: default;
  position: relative;
  z-index: 99;
}

.button-text {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-weight: 600;

  
}

.book-now-container.expanded .button-text {
  opacity: 0;
}

.form-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  pointer-events: none;
  transform: scale(0.95);  
  padding: 15px;
  box-sizing: border-box;

  position: relative;
  top: 05%;
  bottom:0;
  right: 33%;
  width: 320px;


} 

.book-now-container.expanded .form-content {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.close-button{
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  position: absolute;
  cursor: pointer;
  right: 0; 
 top: -4% !important;
  z-index: 99999999;
}
.close-button:hover{
  text-shadow: -1px -3px 17px rgb(255, 255, 255);
}
.item-select{
  position: relative;
  top: 7%;
  left: .5em;
  background-color: #486A9E;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: rgb(255, 250, 250);
  font-size: 14px;
  font-weight: lighter;
}

input, select {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;

}
input::placeholder{
  color: rgb(145, 145, 145);

}

select {
  background-color: transparent;
  border: 1px solid white;
  color: rgb(255, 236, 236);
}

input:focus, select:focus {
  outline: 2px solid #849FB2;
}

.room-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
  color: black;
}
 h1{
  font-weight: lighter;
}
.add-room-button, .check-availability-button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-room-button {
  background-color: #e0e0e0;
}

.check-availability-button {
  background-color: #849FB2;
  color: white;
}

label input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: rgb(255, 236, 236);
}

label input:focus {
  outline: none;
  border: 1px solid #849FB2;
}

@media  (min-width:1500px){
  .png-img{
    width: 6em !important;
  }
}
@media (max-width: 1024px) {
  .navbar {
      bottom: 30%;
  }

  .nav-links a {
      font-size: 22px;
  }

  .book-now-container {
      left: 70%;
      width: 250px;
      height: 120px;
  }

  .book-now-container.expanded {
      left: 60%;
      width: 300px;
      height: 400px;
  }
}


@media (max-width: 768px) {
  .navbar {
      bottom: 20%;
  }

  .nav-links {
      flex-direction: column;
      align-items: center;
  }

  .nav-links li {
      margin: 10px 0;
  }

  .nav-links a {
      font-size: 20px;
  }

  .book-now-container {
      left: 50%;
      width: 200px;
      height: 100px;
      border-radius: 0 0 100px 100px;
  }

  .book-now-container.expanded {
      left: 25%;
      width: 250px;
      height: 350px;
      border-radius: 10px;
  }
}


@media (max-width: 480px) {
  .navbar {
      bottom: 10%;
  }

  .nav-links a {
      font-size: 18px;
  }

  .book-now-container {
      left: 50%;
      width: 180px;
      height: 90px;
  }

  .book-now-container.expanded {
      left: 15%;
      width: 220px;
      height: 300px;
  }
}

.mainpoint-div{

  position: absolute;
  left: 20%;
  z-index: 9;
  bottom: 12%;

}
.change-tag{
  position: absolute;
  left:   0;
  z-index: 99;
  bottom: 0;
}
.change-tag2{
  position: absolute;
  left:  10%;
  z-index: 99;
  bottom: 0;
}
.font-toggle-button{
  position: absolute;
  left: 20%;
  z-index: 99;
  bottom: 0;
}
.mainpoint-div ul {
  display: flex;
  gap: 10px;
  justify-content:space-between ;
}

.mainpoint-div ul li{
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.801);
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .5px;
}
.png-img{
  position: absolute;
  left: 86.25%;
 bottom: 0;
 z-index: 99;
  width: 6em;
}


.font-text{
  position: absolute;
  top: 15%;
  left: 10.97%;
}
.head-names{
  display: flex;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.801);
  font-size: 28px;
    
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .5px;
  justify-content: space-between;

}
.head-names p{
  margin: 10px 15px ;
}

.logo-dih{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
}
.scroll-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background: linear-gradient(
     rgba(96, 63, 131, 0),
    rgba(96, 63, 131, 0.1),
    rgba(96, 63, 131, 0.2),
    rgba(96, 63, 131, 0.3),
    rgba(96, 63, 131, 0.4),
    rgba(96, 63, 131, 0.5),
  rgba(96, 63, 131, 0.6) ,
  rgba(96, 63, 131, 0.7) , 
  rgba(96, 63, 131, 0.8), 
  rgba(96, 63, 131, 0.9) ,
  rgba(96, 63, 131, 01 )) !important ;
;

  padding: 10px 0;
}

.scroll-button {


  background-color: transparent;
 border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  transition:  0.3s ease;
}

 .scroll-button:hover{
  transform: scale(1.1);
}
.scroll-button svg {
  margin-left: 8px; /* Space between text and icon */
  font-size: 1.2em; /* Slightly larger icon */
}