
.rooom-name{
  font-size: 16px;
  font-weight: 600;
  
}
.cardbody-div .price1{
  font-size: 15px;
  font-weight: 600;
}
.cardbody-div .price2 {
  font-size: 15px;
  font-weight: 600;
}
.cardbody-a{
  color: black;
  text-decoration: none;
}
.body-para{
  font-size: 15px;
  font-weight: 600;
  
}
.details-container {
  max-height: 100px;
  overflow-y: auto;
  text-align: justify;
 

}
.details-container p {
  margin: 0;
  padding: 0;
  color: #333; 
display: flex;
  width: 85%;

}

.details-container .cardbody-a {
  display: inline-flex;
  align-items: center;
  color: #007bff; 
  position: relative;
  left: 40%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: relative;
  bottom: 20%;
  }
  .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #deff24; /* Change this color to your desired color */
  width: 30px;  /* You can adjust the size as well */
  height: 30px;
  
}
.carousel-control-prev-icon{
  background-image: url(https://banner2.cleanpng.com/20180409/iyq/avg7xzbyj.webp);
}
.carousel-control-next-icon{
  background-image: url(https://banner2.cleanpng.com/20190616/fxy/kisspng-arrow-vector-graphics-clip-art-portable-network-gr-direita-png-1713886554463.webp);
}

/*  */
::placeholder{
  opacity: .5;
}
label{
  font-weight: 600;
}
.check-availability-button:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}