input { 
  text-transform: uppercase;
}
.rooom-name{
  font-size: 16px;
  font-weight: 600;
  
}
.cardbody-div .price1{
  font-size: 15px;
  font-weight: 600;
}
.cardbody-div .price2 {
  font-size: 15px;
  font-weight: 600;
}
.cardbody-a{
  color: black;
  text-decoration: none;
}
.body-para{
  font-size: 15px;
  font-weight: 600;
  
}
.details-container {
  max-height: 100px;
  overflow-y: auto;
  text-align: justify;
 

}
.details-container p {
  margin: 0;
  padding: 0;
  color: #333; 
display: flex;
  width: 85%;

}

.details-container .cardbody-a {
  display: inline-flex;
  align-items: center;
  color: #007bff; 
  position: relative;
  left: 40%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: relative;
  bottom: 20%;
  }

.carousel-control-prev-icon{
  background-image: url(https://banner2.cleanpng.com/20180409/iyq/avg7xzbyj.webp);
}
.carousel-control-next-icon{
  background-image: url(https://banner2.cleanpng.com/20190616/fxy/kisspng-arrow-vector-graphics-clip-art-portable-network-gr-direita-png-1713886554463.webp);
}


::placeholder{
  opacity: .5;
}
label{
  font-weight: 600;
}
.check-availability-button:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.img-modal{
  border: none;
}
.image-carousal{
  width: 800px;
}

.custom-btn-close {
  --bs-btn-close-bg: url('https://cdn-icons-png.flaticon.com/256/458/458595.png');
  --bs-btn-close-opacity: 1; 
  --bs-btn-close-hover-opacity: 1;
  width: 1.5em;
  height: 1.5em;
  border: none;
  opacity: 1;
}

.custom-btn-close:hover {
  
  opacity: 0.8;
}
